if SHIELD_SLAET-CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "SLAET-CORNE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SLAET-CORNE_LEFT || SHIELD_SLAET-CORNE_RIGHT

config ZMK_SPLIT
    default y

endif